pandas==1.3.5
numpy==1.19.5
plotly==5.16.1
joblib==1.3.2
matplotlib==3.5.3
fastapi==0.103.2
requests==2.31.0
shap==0.42.1
seaborn==0.12.2
scikit-learn==1.2.0
lightgbm==4.0.0
PIL
streamlit==1.23.1
sys
